@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #18181b;
    color:white
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(63 63 70); 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(82 82 91); 
    transition: all 0.5s linear;
  }